<% content_for :title do %>
  MyWashio
<% end %>

<% content_for :meta_tags do %>
  <%= render :partial => 'application/meta_tags',
             :locals => {
               :type => "website",
               :title => "MyWashio",
               :url => request.url,
               :description => "Dry cleaning & laundry delivered to your door",
               :canonical => request.url,
               :og_title => "MyWashio",
               :og_description => "Dry cleaning & laundry delivered to your door"
            } %>
<% end %>

<% Category.limit(8).each do |c| %>
  <li>
    <%= link_to c.name, category_index_path(sort: c.name), class: '' %>
  </li>
<% end %>

<% @ads.each do |ad| %>
  <%= ad.title %>
<% end %>