<div class="logo">
	<%= link_to "MyWashio", root_path, class: "logo" %>
</div>
<div class="navigation">
	<div class="new-ad">
		<button type="button" class="btn btn-primary btn-block">Add New Ad</button>
	</div>
	<ul class="nav nav-menu">
		<li><a href="#"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Dashboard</a></li>
		<li><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> All my ad</a></li>
	</ul>
</div>